{% extends 'layouts/base.html' %}
{% block title %}Dashboard: {% endblock %}
{% block contents %}
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
  <div class="col">
    <div class="h3">Profile</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="h3">Attendance</div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="h3">Mandatory Submissions</div>
  </div>
</div>
{% endblock %}
